@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(145, 145, 145);
}

.container{
  max-width: 85%;
  margin: auto;
}

.flex5B{
  display: flex;
  justify-content: space-between;
}

.icon{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: 0.5s;
}

.icon:hover{
  cursor: pointer;
  background-color: #1eb2a6;
  color: white;

}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  border: none;
}